html{
    height: 100%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(68, 79, 104);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.disabled{
    display: none;
}

.game{
    font-family: "roboto", sans-serif;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-self:center
}

.board-container, .selection{
    background-color: rgb(97, 113, 150);
}


.board-container{
    width: 400px;
    height: 400px;

    box-sizing: border-box;
    padding: 1rem;
    border: solid 5px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px,1fr));
    grid-template-rows: repeat(3, minmax(100px,1fr));
    gap: 0.5rem 0.5rem;
    background-color: rgb(97, 113, 150);
}

.board-container div{
    border-radius: 10px;
    background-color: white;
}

.scoreboard{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 400px;
    background-color: rgb(97, 113, 150);
    border: solid 5px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem
}

.scoreboard section{
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.scoreboard h1{
    margin: 0px;
}

.scoreboard img{
    width: 75px;
    height: 75px;
}


.main-menu{
    box-sizing: border-box;
    display: grid;
    row-gap: 1rem;
}
.selection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
}
.selection h3{
    font-family: "roboto", sans-serif;
    color: white;
    align-self: center;
    font-size: 1.5rem;
    margin: 0;
}
.name-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.player-selection{
    background-color: rgb(68, 79, 104);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.5rem;
}

.player-selection:focus-within{
    outline: 5px solid black;
}

input[name="name-input"]{
    font-size: 1.5rem;
    justify-self: center;
    box-sizing: border-box;
    height: 3rem;

    border: solid 5px rgb(68, 79, 104);;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.mark-icon{
    display: flex;
    justify-content: center;
    background-color: rgb(68, 79, 104);
    box-sizing: border-box;
    height:100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mark-icon img{
    height: 100px;
}

.start-game{
    background-color: rgba(238, 185, 86, 0.973);
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    width: 300px;
    height: 50px;
    justify-self: center;

    border-radius: 10px;
}

.results{
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 2rem;

    box-sizing: border-box;
    background-color: rgb(79, 116, 148);
    position: fixed;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    width: 100vw;
    height: max-content;


    transition: transform 1s allow-discrete,
                display 1s allow-discrete;
}

@starting-style{
    .results{
        transform: translateY(-300%);
    }
}

.results .continue, .quit{
    background-color: rgba(238, 185, 86, 0.973);
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
.results .quit{
    background-color: rgba(204, 198, 186, 0.973);
    width: 200px;
    height: 50px;
}